@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap");

body {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(219, 217, 217);
}
* {
  outline: 1px solid red;
}

/*===============================================
                      NAVBAR
====================================================*/

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #d1cccc;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
.banner-left label {
  font-size: 1.3rem;
  cursor: pointer;
}
.banner-right ul {
  list-style: none;
}
.banner-right li {
  display: inline;
  padding: 1.4rem;
}
.banner-right a {
  text-decoration: none;
  color: #615f5f;
  text-transform: capitalize;
  transition: 0.4s;
}
.banner-right a:hover {
  color: red;
}

/*===============================================
                      HOME
====================================================*/
.home {
  width: 80%;
  /* background-color: red; */
  margin: auto;
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-right img {
  display: grid;
  place-items: center;
  width: 90%;
  margin: auto;
}
.home-left h1 {
  color: rgb(13, 112, 13);
}
.home-left {
  /* background-color: aqua; */
  margin: 1.7rem;
}
.home-left h2 {
  font-size: 2rem;
}
.home-left button {
  padding: 1rem;
  width: fit-content;
  font-size: 0.85rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.4s;
  background-color: #070707;
  border-radius: 6px;
  color: white;
  border: 3px dotted green;
}
.home-left button:hover {
  background-color: orangered;
  color: black;
  border: 3px dotted rgb(34, 33, 33);
}

/*===============================================
                      ABOUT
====================================================*/
.about {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: red; */
  margin-top: 6%;
}
.about-left img {
  width: 80%;
  /* padding: 1rem; */
  border-radius: 0.4rem;
  box-shadow: 13px 13px 4px rgb(116, 119, 121);
}
.about-right button {
  padding: 1rem;
  font-size: 0.85rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.4s;
  background-color: #070707;
  border-radius: 6px;
  color: white;
  border: 3px dotted green;
}
.about-right button:hover {
  background-color: orangered;
  color: black;
  border: 3px dotted rgb(34, 33, 33);
}
.about-right h2 {
  padding-top: 5rem;
  color: rgb(41, 179, 41);
}
.about-right h3 {
  font-size: 1.5rem;
}
.about-right p {
  line-height: 2rem;
}
.about-right .title {
  position: relative;
}
.about-right .line {
  position: absolute;
  height: 4px;
  width: 12%;
  bottom: -5px;
  background-color: red;
}

/*===============================================
                      SERVICES
====================================================*/
.services h2 {
  margin: 5% 0;
  color: rgb(41, 179, 41);
  margin-top: 10%;
}
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  /* background-color: #048654; */
}
.service-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 2rem;
  padding: 1.5rem;
}
.service-contents img {
  width: 65px;
  height: 65px;
}
.service-contents .row {
  padding: 1rem;
}
.service-contents h4 {
  color: orangered;
}
.service-contents p {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  color: #070707;
}

/*===============================================
                      menu
====================================================*/
.menu {
  /* background-color: red; */
  width: 75%;
  margin: auto;
  text-align: center;
}
.menu h2 {
  font-size: 2rem;
  color: rgb(41, 179, 41);
}
.menu h3 {
  font-size: 1.4rem;
  font-weight: 200;
}
.special-contents {
  display: flex;
  /* background-color: blue; */
  gap: 3rem;
}
.special-contents img {
  width: 60%;
  height: 50%;
}
.special-contents .row {
  flex-grow: 1;
  /* background-color: aqua; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  height: fit-content;
  border-radius: 12px;
  position: relative;
}
.special-contents p {
  color: #070707;
  font-weight: 700;
  letter-spacing: 1px;
}
.shop-icon {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(42, 116, 42);
  padding: 1rem;
  border-top-left-radius: 8px;
  cursor: pointer;
  color: rgb(228, 225, 225);
}
.shop-icon:hover {
  color: yellow;
}

/*===============================================
                      App
====================================================*/

.app {
  padding-top: 5%;
  width: 80%;
  margin: auto;
  display: flex;
  height: fit-content
}
.app-left{
  width: 100%;
  flex-basis: 50%;
  display: grid;
  place-items: center;
}
.app-right{
  flex-basis: 50%;
  margin-top: 7rem;
  padding: 2rem;
}
.app-right h4{
  font-size: 1.3rem;
  color: rgb(41, 179, 41);
}
.app-left img{
  width: 80%;
  height: 95%;
}
.app-right .btn {
  display: flex;
  gap: 2rem;
}
.btn img {
  width: 9rem;
  cursor: pointer;
}

/*===============================================
                    CONTACT US 
====================================================*/

.contact {
  width: 80%;
  margin: auto;
  /* background-color: aqua; */
  display: flex;
}
.contact-right button {
  padding: 0.8rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.4s;
  background-color: #070707;
  border-radius: 6px;
  color: white;
  border: 3px dotted green;
}
.contact-right button:hover {
  background-color: orangered;
  color: black;
  border: 3px dotted rgb(34, 33, 33);
}
.contact-left {
  width: 80%;
  padding: 2rem;
  flex-basis: 60%;
}
.contact-left h4 {
  color: rgb(41, 179, 41);
}
.contact-right {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
}

/*===============================================
                      Footer
====================================================*/

.footer {
  width: 80%;
  margin: auto;
  /* background-color: rgb(63, 63, 163); */
  padding: 3rem;
}
.footer .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
gap: 80px;
  /* background-color: aqua; */
}
.social-links i {
  margin-right: 0.9rem;
  cursor: pointer;
  transition: 1s ease;
  padding: 0.4rem;
}
.social-links i:hover {
  transform: translateY(-10px);
  color: red;
}
.footer h2 {
  /* margin-top: 3rem; */
  color: rgb(114, 114, 116);
}

.second ul,
.third ul,
.four ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  line-height: 1.5rem;
}
.footer .row li {
  cursor: pointer;
  transition: 0.4s;
}
.footer .row li:hover {
  color: red;
}

/*===============================================
                      Media Query
====================================================*/

@media (max-width: 1200px) and (min-width: 1025px) {
  .home {
    margin-top: 10%;
  }
  .about-right h2 {
    padding-top: 1.5rem;
  }
  .home-left img{
    width: fit-content;
  }
  .home-left{
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .home {
    margin-top: 10%;
  }
  .home-left{
    margin-right: 0px;
  }
  .about-right h2 {
    padding-top: 1.8rem;
    font-size: 1.2rem;
  }
  .about-right h3 {
    font-size: 1.15rem;
  }
  .about-right p {
    line-height: 1rem;
  }

  .about-right button,
  .home-left button {
    padding: 0.7rem;
  }
  .about-right {
    padding-left: 1rem;
  }
  .home-left h2 {
    font-size: 1.5rem;
  }
  .footer {
    /* background-color: green; */
    padding-left: 12rem;
    /* flex-direction: column; */
  }
  .footer .row {
    /* background-color: aqua; */
    grid-template-columns: 1fr 1fr;
  }
  .footer h2 {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) and (min-width: 613px) {
  /* body {
    background-color: white;
  } */
  .banner {
    width: 100%;
  }
  .banner-right{display: none;}
  .home {
    margin-top: 10%;
  }
  .home-left h1{font-size: 1.1rem;}
  .home-left h2{font-size: 0rem;}

  .home-left{margin-left: 0px;}

  .home-right img{padding-left: 0px;}

  .about-right h2 {
    padding-top: 0;
    font-size: 1.1rem;
  }
  .about-right h3 {
    font-size: 1.15rem;
  }
  .about-right p {
    line-height: 1rem;
  }
  .about-right button,
  .home-left button {
    padding: 0.7rem;
  }
  .home-left h2 {
    font-size: 1.5rem;
  }
  .app-right {
    margin-top: 0px;

  }
  .app{
    flex-direction: column;
  }
  .footer {
    padding: 0.4rem;
  }
  .footer .row {
    grid-template-columns: 1fr;
  }
  .footer h2 {
    margin-top: 3rem;
  }
  .service-contents {
    grid-template-columns: 2fr 2fr;
  }
  .service-contents .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1rem;
  }
}
